@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

html {
  background-image: url('/bg.jpg');
  background-size: 200%;
  animation: move 1000s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position-x: 0% 50%;
  }
}

.app {
  padding: 30px;
  font-family: "Quicksand";
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

button {
  height: 33px;
  width: 80px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  text-transform: uppercase;
  font-family: 'quicksand';
  font-weight: bold;
  background-color: lightyellow;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  border: 13px solid #FCDC94;
  width: 330px;
  background-color: #F1F1F1;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.pokemon-bg {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 8px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

h1 {
  text-align: center;
}

h2 {
  text-transform: capitalize;
  font-size: 35px;
}

p {
  font-weight: bold;
}

.pokemon-description {
  text-align: left;
  padding: 0 8px;
  font-weight: normal;
}